#----------------------------------------------------
# gitignore
#
# @author: Wild Boar
#----------------------------------------------------

#----------------------------------------------------
# app
#----------------------------------------------------
app/Logger/build/
app/StatusTool/build/

#----------------------------------------------------
# test
#----------------------------------------------------
test/Messages/build/
