#----------------------------------------------------
# gitignore
#
# @author: Wild Boar
#----------------------------------------------------

#----------------------------------------------------
# app
#----------------------------------------------------
build/
app/Logger/build/
app/StatusTool/build/

#----------------------------------------------------
# test
#----------------------------------------------------
test/Messages/build/

#----------------------------------------------------
# User Config
#----------------------------------------------------
app/Logger/Resources/config.xml
app/StatusTool/config/config.xml
