#----------------------------------------------------
# gitignore
#
# @author: Wild Boar
#----------------------------------------------------

#----------------------------------------------------
# app
#----------------------------------------------------
app/Logger/build/
