<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GPX Logger</title>
  <link rel="icon" href="/static/images/logo/ROG-Logo-transparent.png" type="image/png" sizes="180x180">

  <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
  
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/fontawesome.min.css">

  <script src="/static/javascript/bootstrap/jquery-slim.min.js"></script>
  <script src="/static/javascript/bootstrap/popper.min.js"></script>
  <script src="/static/javascript/bootstrap/bootstrap.min.js"></script>

  <script src="/static/javascript/track.js"></script>
  <script src="/static/javascript/status.js"></script>
  <script src="/static/javascript/home.js"></script>
  <script src="/static/javascript/copy.js"></script>

  <link rel="stylesheet" href="/static/css/copy-snackbar.css">

  <style>
    /* body {
      background: linear-gradient(to right, #62cff4, #2c67f2);
    } */
    .btn-transparent {
      background-color: transparent;
      border: none;
    }

    .btn-red{
      color: rgb(204, 0, 0);
    }

    .btn-grey{
      color: rgb(36, 36, 36);
    }

    .btn-margin {
      margin-right: 5px;
    }
    .custom-shadow {
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body onload="load()">
  {{navbar}}
  <div class="p-4" id="status">
    <div class="row">
      <div class="col-lg-8">
        <div class="card border-0 custom-shadow mt-4" style="background-color: #f5f7fa;">
          <div class="card-body">
            <h2>Track Name</h2>
            <form id="trackForm" method="post">
              <div class="input-group mb-3">
                <div class="col-8">
                  <input type="text" class="form-control" name="track" id="track" value="{{trackName}}" />
                </div>
                <input type="hidden" name="submit" value="true">
                <div class="col-4">
                  <button type="submit" id="submit" name="submitButton" class="btn btn-primary">
                    <i class="fa fa-play" id="submitIcon"></i> <span id="submitText">{{status}}</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card border-0 custom-shadow mt-4" style="background-color: #f5f7fa;">
          <div class="card-body">
            <h2>Track List</h2>
            <table id="tracksTable" class="table table-hover table-borderless">
              <thead class="thead-light">
                <tr>
                  <th class="col-md-2 col-sm-4">Track</th>
                  <th class="col-md-2 col-sm-4">Date</th>
                  <th class="d-none d-md-table-cell col-md-2">Start Time</th>
                  <th class="d-none d-md-table-cell col-md-2">End Time</th>
                  <th class="col-md-2 col-sm-4">Duration</th>
                  <th class="d-none d-md-table-cell col-md-2">Size</th>
                  <th class="col-auto"></th>
                  <th class="col-auto"></th>
                  <th class="col-auto"></th>
                </tr>
              </thead>
              <tbody>{{tracks}}</tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="card border-0 custom-shadow mt-4" style="background-color: #f5f7fa;">
          <div class="card-body">
            <h2>Free Disk Space</h2>
            <p>{{freeDiskSpace}}</p>
            <div class="progress bg-dark">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{usedPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{usedPercentage}}%;">{{usedPercentage}}% (Used)</div>
            </div>
          </div>
        </div>
        <div class="card border-0 custom-shadow mt-4" style="background-color: #f5f7fa;">
          <div class="card-body">
            <h2>Last Recorded Status</h2>
            <table class="table table-hover table-borderless">
              <thead class="thead-light">
                <tr>
                  <th class="col-6">Status</th>
                  <th class="col-6">Value</th>
                </tr>
              </thead>
                <tbody id="statusTable"></tbody>
                <tr>
                  <td>Created</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="created" onclick="copyToClipboard('created')">Created Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Latitude</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="latitude" onclick="copyToClipboard('latitude')">Latitude Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Longitude</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="longitude" onclick="copyToClipboard('longitude')">Longitude Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Heading</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="heading" onclick="copyToClipboard('heading')">Heading Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Depth</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="depth" onclick="copyToClipboard('depth')">Depth Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Altitude</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="altitude" onclick="copyToClipboard('altitude')">Altitude Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Temperature</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="temperature" onclick="copyToClipboard('temperature')">Temperature Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Mode</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="mode" onclick="copyToClipboard('mode')">Mode Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Satellite Count</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="satelliteCount" onclick="copyToClipboard('satelliteCount')">Satellite Count Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Pose Certainty</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="poseCertainty" onclick="copyToClipboard('poseCertainty')">Pose Certainty Value</button>
                  </td>
                </tr>
                <tr>
                  <td>Valid Velocity</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="validVelocity" onclick="copyToClipboard('validVelocity')">Valid Velocity Value</button>
                  </td>
                </tr>
                <tr>
                  <td>FOM</td>
                  <td>
                  <button class="btn btn-transparent btn-secondary text-dark" id="fom" onclick="copyToClipboard('fom')">FOM Value</button>
                  </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="snackbar">Copied to clipboard</div>
</body>
</html>