<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GPX Recorder</title>
  <link rel="icon" href="/static/images/logo/ROG-Logo-transparent.png" type="image/png" sizes="180x180">

  <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
  
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/fontawesome.min.css">

  <script src="/static/javascript/bootstrap/jquery-slim.min.js"></script>
  <script src="/static/javascript/bootstrap/popper.min.js"></script>
  <script src="/static/javascript/bootstrap/bootstrap.min.js"></script>
  
</head>
<body onload="load()">
  {{navbar}}
  <div class="p-4">
    <form action="\settings" method="get">
      <div class="form-group">
        <label for="interval" class="form-label">Polling Interval (ms):</label>
        <input type="text" class="form-control" name="interval" id="interval" value="{{rate}}" />
      </div>
      <br>
      <input type="submit" id="submit" name="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</body>
</html>