/*--------------------------------------------------------------
* Basic style sheet
*
* @author: Wild Boar
---------------------------------------------------------------*/

body {
	margin: 0px 50px 0px 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: blue;
	color: black;
}

table 
{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
  
td, th
{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) 
{
	background-color: #dddddd;
}

input, select 
{
  margin-top: 5px;
  width: 100px;
}

 /*--------------------------------------------------*
  * Menu Box                                                 
  *--------------------------------------------------*/

  .menu_box 
  {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 15vmax;
    min-width: 200px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }

  .menu_header 
  {
    font-weight: bold;
    width: 100%;
  }

  .menu_box a 
  {
    padding-left: 10px;
  }

  .menu_box a:link 
  {
    color:black;
    text-decoration: none;
  }

  .menu_box a:hover 
  {
    color: red;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu_box ul 
  {
    list-style: none;
  }

  .menu_box li 
  {
    margin: 10px 0px;
  }

  .menu_box ul li::marker 
  {
      content: "📌"
  }
